.bg-main {
    background-color: orange;
}

header {
    height: 80px;
}
.hamburger {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-10%, 30%);
}
.logo {
    width: 50px;
}
.nav-link:hover {
    color: white !important;
    outline: 1px solid white;
    border-radius: 15px;
}
