default: &default
    adapter: postgresql
    encoding: unicode
    pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
    host: <%= ENV.fetch("POSTGRES_HOST", "localhost") %>
    port: <%= ENV.fetch("POSTGRES_PORT", 5432) %>
    username: <%= ENV.fetch("POSTGRES_USER") %>
    password: <%= ENV.fetch("POSTGRES_PASSWORD") %>

development:
    <<: *default
    database: <%= ENV.fetch("DB_DEVELOPMENT", "lostpet101_development") %>

test:
    <<: *default
    database: <%= ENV.fetch("DB_TEST", "lostpet101_test") %>

production:
    <<: *default
    database: <%= ENV.fetch("DB_PRODUCTION", "lostpet101") %>
    timeout: 5000
