@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply w-full sm:w-auto shadow-md
      px-5 py-3
      text-lg font-medium capitalize text-center
      border rounded-xl border-transparent shadow-xl;
  }
  .btn-primary {
    @apply text-white bg-orange-600
  hover:bg-orange-500
  disabled:bg-slate-50 disabled:text-orange-600 disabled:border-none disabled:shadow-none
    focus:outline-none focus:ring-1 focus:ring-orange-500 focus:ring-offset-1
    transition-all duration-300 ease-linear;
  }
  .btn-secondary {
    @apply text-orange-600 bg-white border-orange-200
  disabled:bg-slate-50 disabled:border-none disabled:shadow-none
  hover:bg-slate-50
    focus:outline-none focus:ring-1 focus:ring-slate-100 focus:ring-offset-1
    transition-all duration-300 ease-linear;
  }
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}

.dot {
  @apply my-12 mx-1 h-4 w-4 rounded-full bg-orange-400;
}
